
<div class="attachment-block clearfix">
    <% if( locals.thumbnailUrl ){ %>
    <img class="attachment-img" src="<%= thumbnailUrl %>" alt="Attachment Image">
    <div class="attachment-pushed">
    <% }else{ %>
    <div class="attachment-pushed" style="margin-left: 0;">
    <% } %>
        <h4 class="attachment-heading">
            <a href="/news/<%= link %>.html">
                <%= title %>
            </a>
        </h4>

        <span class="text-sm"><%= publisher %></span>
        <span class="text-sm pull-right">
                <%= new Date(pubDate).toLocaleString() %>
            </span>
        <div class="attachment-text">
            <%= description %> ...<a href="<%= link %>">more</a>
        </div>
        <!-- /.attachment-text -->
    </div>
    <!-- /.attachment-pushed -->
</div>
