<!--<div class="row">-->
    <!--<div class="col-md-12 col-xs-12">-->
        <!--<div class="box box-info">-->
            <!--<div class="box-header with-border">-->
                <!--<h3 class="box-title">-->
                    <!--Comment-->
                <!--</h3>-->
                <!--<div class="box-tools">-->
                    <!--<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>-->
                    <!--</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="box-footer box-comments">-->

            <!--</div>-->

            <!--<div class="box-footer">-->
                <!--<form onsubmit="return postComment();">-->
                    <!--<img class="img-responsive img-circle img-sm" src="http://www.iconninja.com/files/111/870/406/user-people-profile-human-account-avatar-icon.png" alt="Alt Text">-->
                    <!--&lt;!&ndash; .img-push is used to add margin to elements next to floating images &ndash;&gt;-->
                    <!--<div class="img-push">-->
                        <!--<input id="inputComment" type="text" class="form-control input-sm" placeholder="Press enter to post comment">-->
                    <!--</div>-->
                <!--</form>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<script>-->

    <!--function isSuccess(status) {-->
        <!--return status === 'success';-->
    <!--}-->
    <!---->
    <!--function clearComments() {-->
        <!--$('.box-comments').empty()-->
        <!--$('#inputComment').val('')-->
    <!--}-->

    <!--function buildCommentTable() {-->
<!--//        $.get('/indexs/comment/' + code, function (data, status) {-->
<!--//            if( isSuccess(status) ){-->
<!--//                $('.box-comments').append(data)-->
<!--//            }else {-->
<!--//                console.log("status = " + status)-->
<!--//            }-->
<!--//        })-->
    <!--}-->

    <!--function postComment() {-->
        <!--let content = document.getElementById('inputComment').value;-->
        <!--let user = 'tester'-->
<!--//        $.post('/indexs/comment/' + code, {-->
<!--//            user: user,-->
<!--//            text: content-->
<!--//        }, (data, status) => {-->
<!--//            if( isSuccess(status) ){-->
<!--//                if( data.success ){       // post comment successfully-->
<!--//                    console.log("post success")-->
<!--//                    clearComments()-->
<!--//                    buildCommentTable()-->
<!--//                }else{-->
<!--//                    console.log(data)-->
<!--//                }-->
<!--//            }else{-->
<!--//                console.log("status = " + status)-->
<!--//            }-->
<!--//        });-->
        <!--return false;-->
    <!--}-->


<!--</script>-->
