<!DOCTYPE html>
<html>

<%
//if( !shortName.includes(" ") ) // if shortName is too ambiguous
    shortName = name;
%>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= shortName %> </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="/application/stockinfo.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

</head>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">

<% include layout %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" >
    <!-- Main content -->
    <section class="content">
        <div class="row ">
            <div class="col-md-2 col-xs-12" style="padding-right: 0px; padding-left: 0px">
                <div class="transparent box box-solid bg-gray-light">
                    <div class="box-body">

                        <% include history-table %>

                        <div class="col-xs-6 panel box box-primary">
                            <div class="box-header">
                                <%= shortName %>
                            </div>
                            <div class="box-body text-muted">
                                <p><strong>Commodity</strong>: <a href="/commodities/spot/<%= category %>"><%= category %></a></p>
                                <p><strong>Data Source</strong>: <a href="https://www.quandl.com/data/<%= database_code %>"><%= database_code %></a></p>
                                <p><strong>Update Time</strong>: <%= new Date(refreshed_at).toLocaleString() %></p>
                                <p><strong>Update Frequency</strong>: <%= frequency %></p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-10 col-xs-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <!-- small box -->
                        <div class="small-box bg-gray-light">
                            <div class="inner">
                                <div class="row">
                                    <% var lastest = data[0]; %>
                                    <div class="col-md-4 col-xs-8 text-black text-left" >
                                        <h3>
                                            <small>
                                                <span class="Name" style="font-weight: normal !important;">
                                                    <%= shortName %>
                                                </span>
                                            </small>
                                        </h3>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-9 col-md-11 col-xs-12">
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered" style="color: black; " id="basic-data-table">

                                                <% var colsPerRow = 3; %>
                                                <% for(var index in column_names){ %>
                                                <% if( (index % colsPerRow) === 0 ){ %>
                                                <tr>
                                                <% } %>
                                                    <td>
                                                        <%= column_names[index] %>:
                                                    </td>
                                                    <td>
                                                        <strong><%= lastest[index] %></strong>
                                                    </td>
                                                <% if( (index % colsPerRow) === (colsPerRow - 1) ){ %>
                                                </tr>
                                                <% } %>
                                                <% } %>
                                            </table>
                                        </div>

                                    </div>

                                </div>
                                <p></p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-stats-bars"></i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-xs-12">
                        <div class="box box-info">
                            <div class="box-header with-border bg-gray-light">
                                <h3 class="box-title">Chart</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <!--<ul class="nav nav-tabs bg-gray-light" id="curve-tab">-->
                            <!--<li><a href="#">分时</a> </li>-->
                            <!--<li class="active"><a href="#">日K</a> </li>-->
                            <!--<li><a href="#">月K</a> </li>-->
                            <!--<li><a href="#">5分钟K</a> </li>-->
                            <!--<li><a href="#">15分钟K</a> </li>-->
                            <!--<li><a href="#">30分钟K</a> </li>-->
                            <!--<li><a href="#">60分钟K</a> </li>-->
                            <!--</ul>-->
                            <div class="tab-content">
                                <div id="commodity-curve">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-xs-12">
                        <div class="box box-info">
                            <div class="box-header with-border bg-gray-light">
                                <h3 class="box-title">Description</h3>
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body">
                                <p><%= description %></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-12 col-xs-12">
                        <div class="box box-solid">

                            <ul class="nav nav-tabs bg-gray-light" id="news-tab" >
                                <li class="active"><a data-toggle="tab" href="#commodity-news-content-tab"><%= shortName %> News</a> </li>
                                <li><a data-toggle="tab" href="#category-news-content-tab"><%= category %> News</a> </li>
                            </ul>
                            <span class="pull-right text-sm">
                            News provided by <a href="https://news.google.com/">Google News</a>
                        </span>
                            <div class="box-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="commodity-news-content-tab">

                                    </div>
                                    <div class="tab-pane fade" id="category-news-content-tab">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <% include comment.ejs %>
            </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<% include footer.ejs %>

<script>
    var shortName = "<%= shortName %>";
    var category = "<%= category %>"
    var histData = JSON.parse('<%- JSON.stringify(data.reverse()) %>');
    var colNames = JSON.parse('<%- JSON.stringify(column_names) %>');

</script>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<!--Highcharts-->
<!--<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>-->

<!--Highstock-->
<script src="https://cdn.hcharts.cn/highstock/highstock.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="/application/commodity-info.js"></script>

</body>
</html>
