<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>

<% var datasets = {
    "spot": {
        title: "Commodity Spots",
        data: locals.spot,
        formats: {
            "1D Chg": "changeFormatter",
            "MTD Chg": "changeFormatter",
            "YTD Chg": "changeFormatter",
            "Name": "strongFormatter"
        },
        excludeTables: [
        ]

    },
    "future": {
        title: "Commodity Futures",
        data: locals.future,
        formats: {
            "1-Day Chg": "changeFormatter",
            "MTD Chg": "changeFormatter",
            "Name": "strongFormatter"
        },
        excludeTables: [
        ]
    }
};
%>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= datasets[locals.type].title %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body class="hold-transition skin-blue layout-top-nav" style="padding-top: 50px;">

<% include layout %>

<div class="wrapper">
    <!-- Main Header -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-1"></div>

                <% var dataset = datasets[type], formats = datasets[type].formats; %>

                <div class="col-md-6">

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h2 class="box-title"><%= datasets[type].title %></h2>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">

                            <% for(var title in dataset.data){ %>
                            <% var rows = dataset.data[title]; var heads = rows[0] %>
                            <h4>
                                <% if( urlTable[locals.type][title] ){ %>
                                    <% if( typeof urlTable[locals.type][title] === "string"){ %>
                                        <a href="/commodities/<%= locals.type %>/<%= title %>"><%= title %></a>
                                    <% }else{ %>
                                        <%= title %> (
                                        <% for(var _title in urlTable[locals.type][title]){ %>
                                            <a href="/commodities/<%= locals.type %>/<%= _title %>">
                                                <% if( Object.keys(urlTable[locals.type][title]).indexOf(_title) > 0 ){ %>, <% } %>
                                                <%= _title %>
                                            </a>
                                        <% } %>
                                        )
                                    <% } %>
                                <% }else{ %>
                                <%= title %>
                                <% } %>
                            </h4>
                            <table data-toggle="table"
                                   data-classes="table table-striped table-hover table-no-bordered"
                            >
                                <thead>
                                <tr>
                                    <% for(var i=0; i<heads.length-1; i++){ %>
                                    <th data-formatter="<%= (formats[heads[i]] ? formats[heads[i]] : '') %>" ><%= heads[i] %></th>
                                    <% } %>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i=1; i<rows.length; i++){ %>
                                <tr>
                                    <% for(var j=0; j< rows[i].length-1; j++){ %>
                                    <td><%= rows[i][j] %></td>
                                    <% } %>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                            <% } %>

                        </div><!-- /.box-body -->

                        <div class="box-footer">

                        </div>
                    </div><!-- /.box -->

                </div>

                <div class="col-md-4">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h2 class="box-title"><%= datasets[type].title %> News</h2>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div id="commodity-news">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->

<script>
    var type = "<%= locals.type %>";
</script>

<!-- REQUIRED JS SCRIPTS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>

<script src="/application/commodity.js"></script>
</body>
</html>
