<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= locals.category %> - Commodity <%= locals.type %>s</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body class="hold-transition skin-blue layout-top-nav" style="padding-top: 50px;">

<% include layout %>

<div class="wrapper">
    <!-- Main Header -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-6">

                    <% var formats = {
                                "Name": "strongFormatter",
                                "1-Day Chg": "changeFormatter",
                                "MTD Chg": "changeFormatter",
                                "1D Chg": "changeFormatter",
                                "YTD Chg": "changeFormatter",
                        },
                        excludeCols = [
                                "Full Info",
                                "API Call"
                        ],
                        excludeTables = [
                            "Other Coal Prices"
                        ];

                    %>

                    <% for(var title in data){ %>
                    <% if( excludeTables.includes(title) ) continue; %>
                    <% var rows = data[title]; var heads = rows[0]; %>
                    <% var excludeIndices = []; %>
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h2 class="box-title"><%= title %></h2>
                        </div><!-- /.box-header -->
                        <div class="box-body table-responsive">
                            <table data-toggle="table"
                                   data-classes="table table-striped table-hover table-no-bordered"
                            >
                                <thead>
                                <tr>
                                    <% for(var i=0; i<heads.length; i++){ %>
                                    <% if( excludeCols.includes(heads[i]) ) { excludeIndices.push(i); continue; } %>
                                    <th data-formatter="<%= (formats[heads[i]] ? formats[heads[i]] : ( i === 0 ? 'strongFormatter' : '') ) %>" ><%= heads[i] %></th>
                                    <% } %>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i=1; i<rows.length; i++){ %>
                                <tr>
                                    <% for(var j=0; j< rows[i].length; j++){ %>
                                    <% if( excludeIndices.includes(j) ) continue; %>
                                    <td><%= rows[i][j] %></td>
                                    <% } %>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>

                        </div><!-- /.box-body -->

                        <div class="box-footer">

                        </div>
                    </div><!-- /.box -->

                    <% } %>
                </div>

                <div class="col-md-4">
                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h2 class="box-title"><%= locals.category %> News</h2>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div id="commodity-news">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>

<script>
    function isSuccess(status) {
        return status === "success"
    }

    function strongFormatter(val) {
        <% if ( locals.type === "spot" ){ %>
        return "<a href='<%= locals.category %>/" + val + "'>" + val + "</a>"
        <% }else{ %>
        return "<strong>" + val + "</strong>"
        <% } %>
    }

    function changeFormatter(value) {
        value = parseFloat(value);
        if( isNaN(value) )
            return "-";
        else{
            if( value < 0 )
                return "<span style='color:red'>" + value + "</span>"
            else
                return "<span style='color:green'>+" + value + "</span>"
        }
    }


    $(document).ready(function () {
        $.get("/stocks/news/<%= category %>", function (html, status) {
            if( isSuccess(status) ){
                $('#commodity-news').html(html);
            }else {
                console.log('status = ' + status)
            }
        });
    });
</script>
</body>
</html>
