
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
    </div>
    <strong>Copyright © 2016-2017 <a href="#">Global-Stock</a>.</strong> All rights
    reserved.
</footer>