<div class="panel box box-primary">
    <div class="box-header with-border">
        History
    </div>
    <div class="box-body text-muted text-sm no-padding table-responsive">
        <table class="table table-condensed" id="browse-history-table">
            <th>Symbol</th>
            <th>Price</th>
            <th>Change</th>
            <th>Change Percent</th>
            <% if( locals.history ){ %>
                <% for (var i = 0; i < history.length; i++) { %>
                <tr>
                    <td><a href= "<%= protocol %>://<%= host %>/stock/<%= history[i].code %>" ><%= history[i].name %></a></td>
                    <td><%= history[i].trade %></td>
                    <td><%= history[i].changepercent %></td>
                </tr>
                <% } %>
            <% } %>
        </table>
    </div>
</div>