
<!-- Main Header -->
<header class="main-header">
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="/" class="navbar-brand" translate="no" ><b><%= locals.site %></b></a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                <ul class="nav navbar-nav">

                    <li id="nav-stock"><a href="/markets">Stock</a></li>
                    <li id="nav-index"><a href="/spot">Commodity</a></li>
                    <li id="nav-index"><a href="/future">Futures</a></li>
                </ul>
                <!--<form class="navbar-form navbar-left" role="search" action="/stocks/search">-->
                    <!--<div class="form-group">-->
                        <!--<input type="text" class="form-control" name="keyword" id="navbar-search-input" placeholder="股票代码或名称">-->
                    <!--</div>-->
                    <!--<button class="btn bg-maroon" type="button" onclick="onSearchClick()">Go!</button>-->
                    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
                    <!--<script>-->
                        <!--function onSearchClick() {-->
                            <!--let str =  $('#navbar-search-input').val();-->
                            <!--console.log(str)-->
                            <!--if( str.length > 0 ){-->
                                <!--let query = $.param({-->
                                    <!--keyword: str-->
                                <!--})-->
                                <!--window.location.href = '/stocks/search?' + query-->
                            <!--}-->
                        <!--}-->
                    <!--</script>-->
                <!--</form>-->

            </div>
            <!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->



            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <!-- Messages: style can be found in dropdown.less-->

                    <!-- Notifications: style can be found in dropdown.less -->
                    <% if( locals.languages ){ %>
                    <li class="dropdown notifications-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-language"></i>
                             <%= locals.lang %>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="header">Choose language</li>
                            <li>
                                <!-- inner menu: contains the actual data -->
                                <ul class="menu" translate="no" >
                                    <% for(var i in languages){ %>
                                        <li><a href="/users/language/<%= languages[i] %>"><%= languages[i] %></a></li>
                                    <% } %>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <% } %>
                    <!-- User Account Menu -->
                    <% if ( locals.user ){ %>
                    <li><a href="/manage"><i class="fa fa-cog"></i>Settings</a></li>
                    <li class="dropdown user user-menu">
                            <!-- Menu Toggle Button -->
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <!-- The user image in the navbar-->
                                <img class="user-image" src="/dist/img/user2-160x160.jpg" alt="User Image">
                                <!-- hidden-xs hides the username on small devices so only the image appears. -->
                                <span class="hidden-xs" translate="no" > <%= user.username %> </span>
                            </a>

                            <ul class="dropdown-menu">
                                <!-- The user image in the menu -->
                                <li class="user-header">
                                    <img class="user-image" src="/dist/img/user2-160x160.jpg" alt="User Image">

                                    <p translate="no" >
                                        <%= user.username %>
                                        <small>for stock information system</small>
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <a href="/logout" class="btn btn-default btn-flat">Logout</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    <% } %>
                </ul>
            </div>
            <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
    </nav>

</header>


<style>
    .attachment-block{
        background: #ffffff;
        border: #ffffff;
        padding: 10px;
    }
</style>

