<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Settings</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<style>
.checkbox{
    margin-left: 15px;
}
</style>

<body class="hold-transition skin-blue layout-top-nav" style="padding-top: 50px;">

<% include layout %>

<div class="wrapper">
    <!-- Main Header -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <% if ( user.isAdmin ){ %>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">Users</h2>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="users-table"
                           data-toggle="table"
                           data-pagination="true"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-search="true">
                        <thead>
                        <tr>
                            <th>Username</th>
                            <th>Password</th>
                            <th>isAdmin</th>
                            <th>Operation</th>
                        </tr>
                        </thead>
                        <tbody translate="no">
                        <% for(var i in users){ %>

                        <tr>
                            <td><%= users[i].username %></td>
                            <td><%= users[i].password %></td>
                            <td><%= users[i].isAdmin %></td>
                            <td><button data-username="<%= users[i].username %>"
                                        class="btn-rm btn btn-danger btn-sm">Remove</button></td>
                        </tr>

                        <% } %>
                        </tbody>
                    </table>

                </div><!-- /.box-body -->
                <div class="box-footer">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#addUser">
                        Add User
                    </button>
                </div>
            </div><!-- /.box -->

            <% } %>

            <div class="box box-default">
                <div class="box-header with-border">
                    <h2 class="box-title">User Settings</h2>
                </div><!-- /.box-header -->

                <form role="form">
                    <div class="box-body">

                        <%
                        var commodities =
                                ['Commodity Indexes', 'Industrial Metals', 'Fruits and Nuts', 'Grains and Cereals', 'Farms and Fishery', 'Energy', 'Agriculture Softs', 'Forestry', 'Fertilizers and Chemicals', 'Rare Metals', 'Vegetable Oils'];
                        const colsPerRow = 4;
                        %>
                        <div id="check-commodities" class="form-group">
                            <label>Dashboard Show Commodities</label>
                            <table class="table table-condensed">
                            <% for(var i in commodities){ %>
                            <% if( i % colsPerRow === 0 ){ %>
                                <tr>
                            <% } %>
                                <td>
                                    <div class="checkbox">
                                        <% if( user.showCommodities && user.showCommodities.includes(commodities[i]) ){ %>
                                        <input type="checkbox" value="<%= commodities[i] %>" checked="">
                                        <% }else{ %>
                                        <input type="checkbox" value="<%= commodities[i] %>">
                                        <% } %>
                                        <%= commodities[i] %>
                                    </div>
                                </td>
                            <% if( i % colsPerRow === colsPerRow-1 ){ %>
                                </tr>
                            <% } %>
                            <% } %>
                            </table>
                        </div>

                        <% var futures = ['Government Bonds', 'Interest Rates', 'Global Equities', 'Base Metals', 'Currencies', 'Energy', 'Agriculture', 'Grains', 'Softs', 'Precious Metals', 'Other Indexes', 'US Equities', ];
                        %>

                        <div id="check-futures" class="form-group">
                            <label>Dashboard Show Futures</label>
                            <table class="table table-condensed">
                                <% for(var i in futures){ %>
                                <% if( i % colsPerRow === 0 ){ %>
                                <tr>
                                    <% } %>
                                    <td>
                                        <div class="checkbox">
                                            <% if( user.showFutures && user.showFutures.includes(futures[i]) ){ %>
                                            <input type="checkbox" value="<%= futures[i] %>" checked="">
                                            <% }else{ %>
                                            <input type="checkbox" value="<%= futures[i] %>">
                                            <% } %>
                                            <%= futures[i] %>
                                        </div>
                                    </td>
                                    <% if( i % colsPerRow === colsPerRow-1 ){ %>
                                </tr>
                                <% } %>
                                <% } %>
                            </table>
                        </div>

                        <div class="form-group">
                            <label>Dashboard Show Stocks</label>
                            <textarea translate="no" id="showStocks" class="form-control" rows="6" placeholder="One per line"><%= user.showStocks %></textarea>
                        </div>

                        <div class="form-group">
                            <label>Block News Source</label>
                            <textarea translate="no" id="blockNews" class="form-control" rows="3" placeholder="One per line"><%= user.blockNews %></textarea>
                        </div>
                    </div><!-- /.box-body -->
                    <div class="box-footer">
                        <button class="btn btn-primary" id="btn-save" type="button">
                            Save
                        </button>
                    </div>
                </form>
            </div><!-- /.box -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->
<!-- Modal -->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addUserLabel">Add User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                <div class="form-group">
                    <label for="username" class="form-control-label">User Name</label>
                    <input type="email" class="form-control" placeholder="Enter User Name">
                </div>
                <div class="form-group">
                    <label for="password" class="form-control-label">Password</label>
                    <input type="password" class="form-control" placeholder="Password">
                </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-add">Add</button>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>

<!-- REQUIRED JS SCRIPTS -->
<script>
    function nanFormatter(value) {
        return value === "n/a" ? "-" : value;
    }
//
    $(document).ready(function () {
        $('#btn-add').click(function () {
            $.post('/users/adduser', {
                username: $('input[type=email]').val(),
                password: $('input[type=password]').val()
            }, function () {
                location.reload();
            });
        });

        $('#users-table').bootstrapTable({
            onPostBody: function (e, name, args) {
                $('.btn-rm').click(function () {
                    var target = $(this).attr('data-username');
                    $.ajax({
                        type: 'POST',
                        url: '/users/removeuser',
                        data: {
                            username: target
                        },
                        success: function () {
                            location.reload();
                        }
                    });
                });
            }
        });

        $('#btn-save').on('click', function () {
            var commodities = [], futures = [];
            $("#check-commodities input:checked").each(function () {
                commodities.push($(this).val());
            });
            $("#check-futures input:checked").each(function () {
                futures.push($(this).val());
            });

            $.post({
                url: "/users/update",
                data: JSON.stringify({
                    blockNews: $("#blockNews").val(),
                    showStocks: $("#showStocks").val(),
                    showCommodities: commodities,
                    showFutures: futures
                }),
                success: function () {
                    location.reload();
                },
                contentType: 'application/json',
            });
        });
    });

</script>
</body>
</html>
