<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Markets Summary</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/css/bootstrap-select.min.css" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body class="hold-transition skin-blue layout-top-nav" style="padding-top: 50px;">

<% include layout %>

<div class="wrapper">
    <!-- Main Header -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">Summary</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <span>Market: </span>
                            <select id="select-market" class="selectpicker">
                                <% for(var index in markets){ %>
                                <option><%= markets[index] %></option>
                                <% } %>
                            </select>
                        </div>

                        <div class="col-md-4 col-xs-12">

                            <span>Sector: </span>
                            <select id="select-sector" class="selectpicker">
                                <% for(var index in sectors){ %>
                                <option><%= sectors[index] %></option>
                                <% } %>
                            </select>
                        </div>

                    </div>

                    <table id="summary-table"
                           data-url="/stocks/list/NASDAQ"
                           data-side-pagination="client"
                           data-pagination="true"
                           data-page-list="[5, 10, 20, 50, 100, 200]"
                           data-search="true"
                           data-sort-name="Symbol"
                           data-sort-order="asc">
                        <thead>
                        <tr>
                            <th data-sortable="true" data-field="Symbol" data-formatter="linkFormatterNoTrans">Symbol</th>
                            <th data-sortable="true" data-field="Name" data-formatter="linkFormatter">Name</th>
                            <th data-sortable="true" data-field="LastSale">Price</th>
                            <th data-sortable="true" data-field="MarketCap">Market Capital</th>
                            <th data-sortable="true" data-field="Sector" data-formatter="nanFormatter">Sector</th>
                            <th data-sortable="true" data-field="Industry" data-formatter="nanFormatter">Industry</th>

                            <!--<th data-field="ADR TSO">ADR TSO</th>-->
                            <th data-sortable="true" data-field="IPOyear" data-formatter="nanFormatter">IPO Year</th>
                        </tr>
                        </thead>

                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->

<script>
    function linkFormatter(value, row){
        return `<a href='/stock/${market}/${row.Symbol}'>${value}</a>`;
    }
    function linkFormatterNoTrans(value, row){
        return `<a translate="no" href='/stock/${market}/${row.Symbol}'>${value}</a>`;
    }
    function nanFormatter(value) {
        return value === "n/a" ? "-" : value;
    }
</script>

<!-- REQUIRED JS SCRIPTS -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-select/2.0.0-beta1/js/bootstrap-select.min.js"></script>

<script src="application/markets.js"></script>
<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
</html>
