<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title> <%= Index %>: <%= StockSymbol %> </title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">

    <link rel="stylesheet" href="/application/stockinfo.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
<body class="hold-transition skin-blue layout-top-nav">

<% include layout %>
    <!-- Content Wrapper. Contains page content -->
<div class="content-wrapper" >
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-2 col-xs-12" style="padding-right: 0px; padding-left: 0px">
            <div class="transparent box box-solid bg-gray-light">
                <div class="box-body">

                    <% include history-table %>

                    <div class="col-xs-6 panel box box-primary">
                        <div class="box-header">
                            <%= Name %>
                        </div>
                        <div class="box-body text-muted">
                            <% if( locals.SectorName ){ %>
                            <p><strong>Sector</strong>: <%= SectorName %></p>
                            <% } %>
                            <% if( locals.IndustryName ){ %>
                            <p><strong>Industry</strong>: <%= IndustryName %></p>
                            <% } %>
                            <% if( locals.Summary ){ %>
                            <p><strong>Website links</strong>: <a href="<%= Summary.url %>"><%= Summary.url %></a></p>
                            <p><strong>Phone</strong>: <%= Summary.phone %></p>
                            <p><strong>Address</strong>: <%= Summary.address %></p>
                            <% } %>
                        </div>
                    </div>

                </div>
            </div>
        </div>

            <div class="col-md-10 col-xs-12">

            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <!-- small box -->
                    <div class="small-box bg-gray-light">
                        <div class="inner">
                            <div class="row">
                                <div class="col-md-6 col-xs-8 text-black text-left" >
                                    <h3><small><span class="Name" style="font-weight: normal !important;">
                                            <%= Name %>
                                        </span> (
                                        <span class="Index">
                                            <%= Index %>
                                        </span>:
                                        <span class="StockSymbol">
                                            <%= StockSymbol %>
                                        </span>)</small></h3>
                                </div>
                                <div class="col-md-2 col-xs-4 visible-lg">
                                    <h3 class="text-black margin-bottom" >
                                        <span class="LastTradePrice"><%= LastTradePrice %></span>
                                        <i id="arrow-icon"></i>
                                        <small class="text-red"> <span class="ChangePercent"><%= ChangePercent %></span> %</small>
                                    </h3>
                                </div>
                                <div class="col-md-3 visible-lg pull-right">
                                    <h3>
                                        <small id="date" class="text-muted" style="color: black"></small>
                                    </h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 col-md-11 col-xs-12">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-bordered" style="color: black; " id="basic-data-table">
                                            <tr>
                                                <td>
                                                    <strong>Range:</strong>
                                                </td>
                                                <td>
                                                    <% if( isNumeric(Low) && isNumeric(High) ){ %>
                                                     <%= Low %> - <%= High %>
                                                    <% }else{ %>
                                                    -
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <strong>Change：</strong>
                                                </td>
                                                <td>
                                                    <%= ChangePercent %>%
                                                </td>
                                                <td>
                                                    <strong>Open：</strong>
                                                </td>
                                                <td>
                                                    <%= Open %>
                                                </td>
                                                <td>
                                                    <strong>Volume / Avg.：</strong>
                                                </td>
                                                <td>
                                                    <%= Volume %> / <%= AverageVolume %>
                                                </td>
                                                <td>
                                                    <strong>Mkt cap: </strong>
                                                </td>
                                                <td>
                                                    <%= MarketCapitalization %>
                                                </td>
                                                <td>
                                                    <strong>P/E: </strong>
                                                </td>
                                                <td>
                                                    <%= PE %>
                                                </td>
                                                <!---->
                                            </tr>
                                            <tr>
                                                <td>
                                                    <strong>52 Week: </strong>
                                                </td>
                                                <td>
                                                    <% if( isNumeric(High52Week) && isNumeric(Low52Week) ){ %>
                                                    <%= Low52Week %> - <%= High52Week %>
                                                    <% }else{ %>
                                                    -
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <strong>Div/yield：</strong>
                                                </td>
                                                <td>
                                                    <%= LatestDividend %> / <%= DividendYield %>
                                                </td>
                                                <td>
                                                    <strong>EPS：</strong>
                                                </td>
                                                <td>
                                                    <%= EPS %>
                                                </td>
                                                <td>
                                                    <strong>Shares：</strong>
                                                </td>
                                                <td>
                                                    <%= Shares %>
                                                </td>
                                                <td>
                                                    <strong>Beta: </strong>
                                                </td>
                                                <td>
                                                    <%= Beta %>
                                                </td>
                                                <!---->
                                            </tr>
                                        </table>
                                    </div>

                                </div>

                            </div>

                            <p></p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-7 col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border bg-gray-light">
                            <h3 class="box-title">Chart</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <!--</ul>-->
                        <div class="tab-content">
                            <div id="stock-curve-day">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-5 col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border bg-gray-light">
                            <h3 class="box-title">Key stats and ratios</h3>
                        </div>
                        <div class="box-body">
                            <table data-toggle="table">
                                <thead>
                                    <tr>
                                        <th>Ratio</th>
                                        <th><%= KeyRatioRecentQuarterDate %></th>
                                        <th><%= KeyRatioAnnualDate %></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <% for(var i=0; i<KeyRatios.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= KeyRatios[i].title %>
                                    </td>
                                    <td>
                                        <%= KeyRatios[i].recent_quarter || "-" %>
                                    </td>
                                    <td>
                                        <%= KeyRatios[i].annual || "-" %>
                                    </td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border bg-gray-light">
                            <h3 class="box-title">Description</h3>
                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                    <i class="fa fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="box-body">
                            <% if( locals.Summary ){ %>
                            <p><%= Summary.overview %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-7 col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border bg-gray-light">
                            <h3 class="box-title">Related Company</h3>
                        </div>
                        <div class="box-body">
                            <table data-toggle="table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Company Name</th>
                                    <th>Exchange</th>
                                    <th>Price</th>
                                    <th>Change</th>
                                    <th>Change Percent</th>
                                    <th>Mkt cap</th>
                                </tr>
                                </thead>
                                <tbody>
                                <% for(var i=0; i<Related.length; i++){ %>
                                <% var link = "/stock/" + Related[i].Index +  "/" + Related[i].StockSymbol; %>
                                <tr>
                                    <td><a href="<%= link %>"><%= Related[i].StockSymbol %></a></td>
                                    <td><a href="<%= link %>"><%= Related[i].Name %></a></td>
                                    <td><%= Related[i].Index %></td>
                                    <td><%= Related[i].LastTradePrice %></td>
                                    <td><%= Related[i].Change %></td>
                                    <td><%= Related[i].ChangePercent %></td>
                                    <td><%= Related[i].MarketCapitalization %></td>
                                </tr>
                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-md-5 col-xs-12">
                    <div class="box box-info">
                        <div class="box-header with-border bg-gray-light">
                            <h3 class="box-title">Officers and directors</h3>
                        </div>
                        <div class="box-body">
                            <table class="table">
                                <thead></thead>
                                <tbody>

                                <% if( locals.Management) { %>

                                <% for(var i=0; i<Management.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= Management[i].name %>
                                    </td>
                                    <td>
                                        <%= Management[i].title %>
                                    </td>
                                </tr>
                                <% } %>

                                <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="col-md-12 col-xs-12">
                    <div class="box box-solid">

                        <ul class="nav nav-tabs bg-gray-light" id="news-tab" >
                            <li class="active"><a data-toggle="tab" href="#stock-news-table-tab"><%= Name %> News</a> </li>
                            <li><a data-toggle="tab" href="#financial-news-table-tab"><%= Index %> News</a> </li>
                        </ul>
                        <span class="pull-right text-sm">
                        </span>
                        <div class="box-body">
                            <div class="tab-content">

                                News provided by <a href="https://news.google.com/">Google News</a>      <div class="tab-pane fade in active" id="stock-news-table-tab">

                                </div>
                                <div class="tab-pane fade" id="financial-news-table-tab">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <% include comment.ejs %>

        </div>
        </div>
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<% include footer.ejs %>

<script>
    var name = "<%= Name %>";
    var code = "<%= StockSymbol %>";
    var market = "<%= Index %>";
</script>

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<!--Highcharts-->
<!--<script src="https://cdn.hcharts.cn/highcharts/highcharts.js"></script>-->

<!--Highstock-->
<script src="https://cdn.hcharts.cn/highstock/highstock.js"></script>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="/application/stockinfo.js"></script>

</body>
</html>
