<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>搜索结果：<%= keyword %></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/AdminLTE.min.css">

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/admin-lte/2.3.11/css/skins/_all-skins.min.css">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>

<body class="hold-transition skin-blue layout-top-nav" onload="buildSearchTable()" style="padding-top: 50px;">

<% include layout %>

<div class="wrapper">
    <!-- Main Header -->
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">

            <!-- Your Page Content Here -->
            <!-- 指数列表 -->
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">搜索关键字：<%= keyword %></h3>
                    <div class="box-tools pull-right">
                        <div class="has-feedback">
                            <input type="text" class="form-control input-sm" placeholder="Search...">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="stock-list-table" class="table table-hover table-bordered text-center" data-striped="true">
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->

    <% include footer.ejs %>

</div>
<!-- ./wrapper -->

<!-- REQUIRED JS SCRIPTS -->

<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- SlimScroll -->
<!--<script src="../../plugins/slimScroll/jquery.slimscroll.min.js"></script>-->
<!-- FastClick -->
<!--<script src="../../plugins/fastclick/fastclick.js"></script>-->
<!-- AdminLTE App -->
<script src="/dist/js/app.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<!-- <script type="text/javascript" src="https://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script> -->
<script>

    function highlightFormatter(value, row) {
        return "<a href='/stock/"+row.code+"'>"+value.replace('<%= keyword %>', '<span style="color: red"><%= keyword %></span>')+"</a>";
    }

    function buildSearchTable() {
        let columns = [
            {
                field: 'code',
                title: '股票代码',
                formatter: highlightFormatter,
                sortable: true
            },
            {
                field: 'name',
                title: '股票名称',
                formatter: highlightFormatter
            },
            {
                field: 'changepercent',
                title: '涨跌幅',
                formatter: (value) => {
                    let color = Number(value) < 0 ? "red" : "limegreen"
                    let sign = Number(value) > 0 ? "+" : ""
                    return "<span style='color: "+ color + "'>" + sign + value + "</span>"
                },
                sortable: true
            },
            {
                field: 'trade',
                title: '现价',
                sortable: true
            },
            {
                field: 'open',
                title: '开盘',
                sortable: true
            },
            {
                field: 'high',
                title: '最高价',
                sortable: true
            },
            {
                field: 'low',
                title: '最低价',
                sortable: true
            },
            {
                field: 'volume',
                title: '总手数',
                sortable: true
            },
            {
                field: 'turnoverratio',
                title: '换手率',
                sortable: true
            },
            {
                field: 'amount',
                title: '总金额',
                sortable: true
            },
            {
                title: '操作',
                formatter: (value, row) => {
                    var param = {
                        session: "tTnfyoo1fYyysl3Tw8SR6eu-djP7yhhR",
                        stockID: row.code
                    }
                    return "<a class='btn btn-info btn-sm' href='/trade?" + $.param(param) + "'>购入股票</a>"
                }
            }
        ]
        $('#stock-list-table').bootstrapTable({
            columns: columns,
            data: JSON.parse('<%- JSON.stringify(stocks) %>'),
            pagination: true
        })
    }

</script>
</body>
</html>
